.title,
.subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #494949;
  text-align: center;
}
.title {
  margin-top: 60px;
  margin-bottom: 5px;
}

.subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #636363;
}

.slider__content {
  width: 1024px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 32px;
  min-height: 626px;
  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
}

.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 600px;
  margin-top: 40px;
  overflow: hidden;
}
.swiper-slide {
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.swiper-slide-shadow {
  display: none;
}

.swiper-slide-active {
  opacity: 1;
}

.slider__block {
  position: absolute;
  width: 1024px;
  height: 240px;
  background: #5c369a;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0px 0px;
}

.slider__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  border: 2px solid #5c369a;
  border-radius: 20px;
  z-index: 2;
  margin-top: 65px;
  margin-bottom: 22px;
}

.slider__photo img {
  width: 220px;
  height: 220px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
}

.slider__title,
.slider__subtitle,
.slider__vita,
.slider__skill p,
.slider__contacts a {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #22242a;
  text-align: center;
}

.slider__title {
  margin-bottom: 12px;
}

.slider__subtitle {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #636363;
}
.slider__subtitle {
  margin-bottom: 16px;
}

.slider__vita {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #434343;
  margin-bottom: 22px;
}

.slider__skills {
  display: flex;
}

.slider__skill {
  padding: 14px 28px;
  background: #d9d9d9;
  border-radius: 10px;
  margin-left: 12px;
}

.slider__skill p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(99, 99, 99, 0.7);
}

.slider__contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

.slider__contacts a {
  transition: all 0.3s;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #5c369a;
}

.slider__contacts a:hover {
  opacity: 0.7;
}

.slider__contacts a img {
  margin-right: 8px;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative;
  display: flex;
  align-items: center;
  width: 500px;
  height: 2px;
  background: #dcdcdc;
  border-radius: 10px;
  margin-top: 40px;
}
.swiper-scrollbar-drag {
  width: 72px;
  height: 5px;
  background: #636363;
  border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  transition: all 0.3s;
  width: 40px;
  height: 160px;
  background: #afafaf;
  border-radius: 7px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #636363;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
  color: #efeff2;
}
